<%= form_for @artist do |f| %>
  <div class="form-group">
    <label>Artist name</label>
    <%= f.text_field :name, placeholder: "Artist name", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Artist description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Artist description", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
