<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel-body">

    <p>Description: <%= @artist.description %></p>
    <p>Albums: </p>
    <% @artist.albums.each do |album| %>
      <%= link_to album.name, artist_album_path(album) %>
    <% end %>

  </div>
</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
