<div class="panel panel-primary">
  <div class="panel-heading"><%= @song.name %></div>

  <div class="panel-body">

    <p>Year released: <%= @song.year_released %></p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src= <%=@song.url%> ></iframe>
  </div>
</div>

<%= link_to "Back", artist_songs_path, class: "btn btn-default" %>
