<h1>Welcome to Codaisseurify</h1>
<div class="row">
  <div class="col-md-7">
    <p>Ifyou would like to enjoy listening to music, please make sure you're signed-up

      Geniet nu van de muziek.
      Luister gratis.
      Of ga Premium om on-demand te luisteren, waar je ook bent.

      Spotify €0,00 /maand
      Geniet van je favoriete albums en artiesten, met af en toe een advertentie.
      NEEM SPOTIFY FREE
      Spotify Premium €0,99 voor 3 maanden
      Gezins- en studentenaanbiedingen beschikbaarDaarna slechts €9,99 per maand.
      Luister on-demand.
      Offline luisteren.
      Geen advertenties.
      Geluid van hoge kwaliteit.
      SPOTIFY PREMIUM AANSCHAFFEN
    </p>

  </div>

</div>
