<h1>Welcome to Codaisseurify</h1>
<div class="row">
  <div class="col-md-7">
    <p>If you would like to enjoy listening to music, please make sure you're signed-up
      when you're logged in you can listen to all musix via the nav bar
    </p>
  </div>
</div>
