<div class="row">
  <div class="col-md-10">
    <strong>These are your favourite songs:</strong>
  </div>
  <div class="col-md-2">
    <%= link_to "Explore All Music", artists_path, class: "btn btn-primary" %>
  </div>
</div>

<% current_user.profile.fav_songs.each do |song| %>
  <div class="row">
    <div class="col-md-10">
      <h4><%= song.name %></h4>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src= <%= song.url %> ></iframe>
    </div>
    <div class="col-md-2">
      <%= link_to "", favourite_path(song), method: :delete, data: { confirm: "Are you sure?" }, class: "glyphicon glyphicon-remove-circle" %>
    </div>
  </div>
<% end %>
