<% if !user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Welcome!
    </div>
    <div class="panel-body">
      <%= render 'guest' %>
    </div>
  </div>
<% elsif current_user.has_profile? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Welcome <%= current_user.full_name  %> !
    </div>
    <div class="panel-body">
      <%= render 'profilefav' %>
    </div>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Welcome Back !
    </div>
    <div class="panel-body">
      <p>It's time to make a profile so you'll can enjoy our extra features we have to offer to you.</p>
      <%= link_to "Create Profile", new_profile_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
