<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- 
Geniet nu van de muziek.
Luister gratis.
Of ga Premium om on-demand te luisteren, waar je ook bent.

Spotify €0,00 /maand
Geniet van je favoriete albums en artiesten, met af en toe een advertentie.
NEEM SPOTIFY FREE
Spotify Premium €0,99 voor 3 maanden
Gezins- en studentenaanbiedingen beschikbaarDaarna slechts €9,99 per maand.
Luister on-demand.
Offline luisteren.
Geen advertenties.
Geluid van hoge kwaliteit.
SPOTIFY PREMIUM AANSCHAFFEN -->
