<div class="panel panel-primary">
  <div class="panel-heading"><%= @album.name %></div>

  <div class="panel-body">
    <div id="songs">
      <p>Songs:</p>
      <%= render @album.songs, album: @album %>
    </div>
  </div>
</div>

<%= link_to "Back to Albums", artist_path(@artist), class: "btn btn-default" %>
<%= link_to "Add Song to Album", new_artist_album_song_path(@artist, @album), class: "btn btn-default" %>
