@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: linear-gradient(to right, #70e1f5, #ffd194) no-repeat center center fixed;
}

html {


}

#nav1
{
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
}

.panel-primary, .panel-default{
     background-color:rgba(0, 0, 0, 0.3);
}

.panel-primary .panel-heading, .panel-default .panel-heading  {
  background-color:rgba(0, 0, 0, 0.7);
  color: white;
}

.panel-body a {
  color: black;
}

.glyphicon {
    font-size: 25px;
    padding: 7px;
}

#nav1 img {
  width: 25px;
  height: 25px;
}

.btn {
  background-color: rgba(0, 0, 0, 0.3);
}

artist_photo {
  width: 25px;
  height: 25px;
}
